{% extends 'store/main.html'%}
{% load static%}
{%block content%}
<div class="row">
    {% for product in products%}
    {% if cat == product.categories or cat == None or cat == 'all'%}
    <div class = "col-lg-4">
        <img class="thumbnail" src = "{{product.imageURL}}">
        <div class="box-element product">
            <h6 style="display:inline-block" ><strong>{{product.name}} </strong></h6>
            <h6 style="float: right;">Instock: {{product.stock}}</h6>
            <hr>
            {% if product.stock > 0%}
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary addbtn update-cart">Add to kart</button>
            {% else %}
            <p style="color: red; display: inline-block">Not in stock</p>
            {% endif %}
            <a href="#" class="btn btn-outline-dark">View</a>
            <h4 style="display: inline-block; float:right;">₹{{product.price|floatformat:2}}</h4>
        </div>
    </div>
    {% endif%}
    {% endfor %}
</div>
{%endblock%}